@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root{
    --main-color: #fbce06;
    --green: #7c1eff;
    --bg: #4b8673 ;
    --border: .1rem solid #ffffff;
}

* {
    font-family: 'Roboto', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html{
    font-size: 62.5%;
    overflow: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: .8rem;
}

html::-webkit-scrollbar-track{
    background:transparent;
}

html::-webkit-scrollbar-thumb{
    background: #fff;
    border-radius: 5rem;
}


body {
    background-color: #4b867397;
    /* margin: 0;
    padding: 0; */
    /* height: 100vh; */
}

section{
    padding: 2rem 7%;
}

.heading {
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 4rem;
}

.heading span {
    color: var(--main-color);
    text-transform: uppercase;
}

.header{
   background: var(--bg);
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 1.7rem 7%;
   border-bottom: var(--border);
   /* position: fixed; */
   top: 0;
   left: 0;
   right: 0;
   z-index: 1000;
}   

.header .logo img{
    height: 6rem;
    /* margin: 3rem; */
}

.header .navbar a{
    margin: 0 1rem;
    font-size: 1.8rem;
    color: #fff;
   text-decoration: none;
   
   
}

.header .navbar a:hover{
    color: var(--main-color);
    border-bottom: .1rem solid var(--main-color);
    padding-bottom: .1rem;
}

.header .icons div{
    color: #fff;
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
}

.header .icons div:hover{
    color: var(--main-color);
}


#menu-btn{
    display: none;
}



 






/* media query */
@media (max-width:991px){

    html{
        font-size: 55%;
    }

    .header{
        padding:1.5rem 2rem;
    }

    section{
        padding:2rem;
    }

}

@media (max-width:768px){
    #menu-btn{
        display: inline-block;
    }

    .header .navbar{
        position: absolute;
        top:100%; right: -100%;
        background: #fff;
        width: 30rem;
        height: calc(100vh - 9.5rem);
    }

    .header .navbar.active{
        right:0;
    }

    .header .navbar a{
        color:var(--black);
        display: block;
        margin:1.5rem;
        padding:.5rem;
        font-size: 2rem;
    }

    .header .search-form{
        width: 90%;
        right: 2rem;
    }

    .Home{
        background-position: left;
        justify-content: center;
        text-align: center;
    }

    .Home .content h3{
        font-size: 4.5rem;
    }

    .Home .content p{
        font-size: 1.5rem;
    }

}

@media (max-width:450px){

    html{
        font-size: 50%;
    }

}


